* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    background-color: #9FA4C4;
    color: #3E4365;
}

main {
    width: 50%;
    margin: auto;
}

img.gumbo {
    width: 325px;
    height: 400px;
} 

img.shrimpgrits {
    width: 200px;
    height: auto;
}

img.chili {
    width: 300px;
    height: auto;
}

img.crabcakes {
    width: 300px;
    height: auto;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #3E4365;
}

ul:not(.ingredients) li {
    list-style: none;
}