html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    width: 60%;
    margin: auto;
}

img.gumbo {
    width: 325px;
    height: 400px;
} 

img.shrimpgrits {
    width: 200px;
    height: auto;
}

img.chili {
    width: 300px;
    height: auto;
}

img.crabcakes {
    width: 300px;
    height: auto;
}
